@import 'variables.less';
@import 'structure.less';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

html, body {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;

  color: var(--color-grey);

  @media @tablet {
    font-size: 16px;
  }
}
html {
  min-height: 100vh;
}
body {
  background-image: url('/imgs/background.png');
  background-color: #fcfcfc;
  background-position: -1% center;
  background-size: 100% auto;
  background-repeat: repeat-y round;
}

:root {
  --color-primary: #777DFD;
  --color-red: #FF4B38;
  --color-orange: #FFB83F;
  --color-green: #83BE69;
  --color-blue: #16AAF9;

  --color-white: #fff;
  --color-whiteDimmed: #F9F9F9;
  --color-whiteDimmed2: #F4F4F8;

  --color-black: #181A30;
  --color-blackDimmed: #46485C;
  --color-grey: #6C6D7E;

  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  --custom-bezier: cubic-bezier(.2,0,.25,1);
  --custom-bezier-button: cubic-bezier(.29,.12,.2,1.07);
}

//
// TEXTS
//
h1, .titleH1 {
  font-size: 2.65em;
  text-align: center;
}
h2, .titleH2 {
  font-size: 2em;
}
h3, .titleH3 {
  font-size: 1.3em;
}

@media @mobile {
  h1, .titleH1 {
    font-size: 2.45em;
    text-align: center;
  }
  h2, .titleH2 {
    font-size: 1.8em;
  }
  h3, .titleH3 {
    font-size: 1.15em;
  }
}

h1, .titleH1,
h2, .titleH2,
h3, .titleH3 {
  color: var(--color-black);
  font-weight: var(--weight-semi-bold);
  margin-bottom: 0.5em;
}

.text, p {
  margin-bottom: 1em;
}

.card {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  // border-radius + shadow
  background-color: var(--color-white);
  background: linear-gradient(
    -20deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6)
  );
  border-radius: 20px;
  box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.13);

  transition: all 0.4s var(--custom-bezier);

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;

    transition: all 0s var(--custom-bezier-button);

    background: linear-gradient(
      145deg,
      rgba(255, 255, 255, 0) 10%,
      rgba(223, 223, 223, 0.2) 20%,
      rgba(255, 255, 255, 0) 30%,
    );
    background-size: 800% 800%;
    background-position: 95% 0%;
  }

  &:hover {
    transform: scale(1.025);

    &::before {
      transition-duration: 1.5s;
      background-position: 5% 0%;
    }
  }
  &:active {
    transform: scale(0.95);
  }
}


//
// ACTIONS
//
.btn {
  position: relative;
  padding: 11px 38px 10px;
  margin-bottom: 1em;
  cursor: pointer;

  font-weight: var(--weight-semi-bold);
  text-decoration: none;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 50px;
  box-shadow: 0 0 14px -6px rgba(0, 0, 0, 0.5);

  transition: all 0.35s var(--custom-bezier);

  //
  &.-secondary {
    background-color: transparent;
    color: var(--color-primary);

    box-shadow: 0 0 14px -6px rgba(0, 0, 0, 0.2);
  }

  // animation
  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;

    transition: all 0s var(--custom-bezier-button);

    background: linear-gradient(
      145deg,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0) 30%,
    );
    background-size: 500% 100%;
    background-position: 34% 50%;
  }

  &:hover {
    transform: scale(1.02);

    &::before {
      transition-duration: 0.8s;
      background-position: -30% 50%;
    }
  }
  &:active {
    transform: scale(0.95);
  }
}

.link, a {
  color: var(--color-primary);

  transition: all 0.3s var(--custom-bezier);

  &:hover {
    opacity: 0.7;
  }
}