//
// RESPONSIVE
//

// element {
//   overflow: visible;
//
//   @media @tablet {
//       overflow: hidden;
//   }
// }

@mobile-small: ~'screen and (max-width: 576px)';
@mobile: ~'screen and (max-width: 768px)';
@not-mobile: ~'screen and (min-width: 769px)';
@tablet: ~'screen and (max-width: 992px)';
@desktop: ~'screen and (min-width: 993px)';
