.home {
  max-width: 550px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  //
  // header
  //
  &__header {
    position: relative;
    margin-bottom: 3em;

    & > * {
      display: block;
      text-align: center;
      width: 100%;
    }

    .header {
      &__title {
        margin-bottom: 0.25em;

        span {
          color: var(--color-primary);
        }
      }
    
      &__baseline {
        font-size: 1.1em;
        line-height: 1.5;
        margin-top: 0;

        @media @mobile {
          font-size: 1em;
        }
      }

      // absolute imgs
      &__img {
        position: absolute;
        z-index: -1;
        width: 112px;
        height: auto;

        &.-computer {
          bottom: -25%;
          left: -50%;
          transform: rotate(-5deg);
        }
        &.-code {
          bottom: 10%;
          right: -50%;
        }

        @media @mobile {
          &.-computer {
            left: -35%;
            bottom: -35%;
            filter: blur(3px);
          }
          &.-code {
            right: -38%;
            bottom: -50%;
            width: 142px;
          }
        }
      }
    }
  }

  //
  // Section
  //
  &__section {
    width: 100%;
    margin-bottom: 72px;

    .section {
      &__title {
        margin-bottom: 1em;
      }
      &__cards {
        display: flex;
        flex-wrap: wrap;
        // align-items: flex-start;
        justify-content: center;
        gap: 44px;

        & > * {
          width: calc(50% - 22px);
          @media @mobile {
            width: 100%;
            max-width: 230px;
            transform: translate3d(6px, 0, 0);
          }
        }
      }
    }
  }

  footer {
    p {
      text-align: center;

      &:nth-child(1) {
        margin-bottom: 0em;
      }
      &:nth-child(2) {
        margin-top: 0.5em;
      }
    }
  }
}